@media (max-width: 1350px) {
    .products__items {
        justify-content: space-around;
    }

    .footer__info-content {
        justify-content: space-evenly;
    }

    .footer__info-address {
        margin: 10px 0;
    }
}

@media (max-width: 1250px) {
    .information__items {
        justify-content: center;
    }

    .information__input,
    .information__map {

        width: 70%;
    }
}

@media (max-width: 1150px) {
    .products__item {
        width: 28%;
    }
    
    .footer__info {
        padding: 15px 0;
    }

    .footer__info-content {
        flex-direction: column;

        .footer__info-social {
            width: 50%;

            .social__link {
                width: 25px;
                height: 25px;

                img {
                    width: 12px;
                    height: 12px;
                }
            }
        }

    }

    .footer__copyright-content {
        text-align: center;
        height: 75px;
        gap: 20px;
    }

}

@media (max-width: 850px) {
    .header {
        height: auto;
    }

    .header__info {
        height: 80px;

    }

    .header__info-right {
        width: 60%;
        flex-wrap: wrap-reverse;
    }

    .number {
        font-size: 12px;
    }


    .header__logo {
        font-size: 23px;
        gap: 5px;

        img {
            width: 50px;
            height: 50px;
        }
    }
}


@media (max-width: 757px) {
    .container {
        width: 92%;
    }

    .header {
        .header__navbar {
            transition: .2s ease-in-out;
            margin-top: -50px;
        }
        .navbar_active {
            margin-top: 0;
        }
        .burger__menu {
            display: block;
        }

        .header__navbar-items {
            width: 80vw;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        .header__navbar-item {
           margin: 0 10px ;
        }
        .header__info-right{
            justify-content: end;
            .number{
                margin-right: 10px;
            }
        }

        .menu__btn {
            display: block;
        }

        .header__menu-items {
            width: 80%;
            height: auto;
            flex-wrap: wrap;
            justify-content: space-evenly;

            .header__menu-item {

                margin: 8px 10px;
            }
        }
    }

    .intro{
        background-position: center;
    }

    button,
    input {
        font-size: 12px;
    }

    .intro,
    .products {
        margin-bottom: 50px;
    }

    .products__item {
        width: 80%;
    }

    .products__item-description {
        width: 77%;
    }

    .intro__title {
        font-size: 28px;
    }

    .products__title {
        font-size: 20px;
    }

    /*===BUTTONs===*/
    .btn__more {
        padding: 8px 36px;
    }

    .btn__map {
        padding: 6px 30px;
    }

    .btn__buy {
        padding: 9px 39px;
    }

    .btn__callback {
        padding: 8px 16px;
    }

}

@media (max-width: 485px) {
    .header__info-right {
        align-content: space-around;
        justify-content: center;

        .header__btn {
            margin: 0 4px;
        }


    }

    .header__logo {
        font-size: 13px;

        img {
            width: 30px;
            height: 30px;
        }
    }


}


@media (max-width: 400px) {
    .intro__info {
        width: auto;
    }

    .information__description {
        width: 100%;
    }

    .footer {
        .number {
            transform: translateY(5px);
        }
    }

    .input__enter {
        width: 55%;
    }

}