@import "vendor/reset";

body {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #EFEFEF;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: black;
}

button,
input {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

button {
    cursor: pointer;
}



a { 
    text-decoration: none;
}

.container {
    // max-width: 1110px;
    width: 73%;
    margin: 0 auto;
}

// imports


@import "blocks/intro";
@import "blocks/products";
@import "blocks/information";
@import "blocks/btn";
@import "blocks/burger";
@import "blocks/footer";
@import "blocks/header";
@import "media";