.btn__callback {
    padding: 12px 27px;
    background: #FFFFFF;
    border: 2px solid #66C05D;
    border-radius: 30px;

    overflow: hidden;
    position: relative;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;

    &::after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        background-color: #66C05D;
        border-radius: 30px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0) rotate(10deg);
        transform-origin: top left;
        transition: .2s transform ease-out;
        will-change: transform;
        z-index: -1;
    }

    &:hover::after {
        transform: translate(0, 0);
    }

    &:hover {
        border: 2px solid transparent;
        color: white;
        transform: scale(1.05);
        will-change: transform;
    }
}

.btn__more {
    padding: 12px 46px 10px;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: white;
    letter-spacing: 0.05em;
}

.btn__buy {
    padding: 9px 39px;
    color: white;
    background: #66C05D;
    border: 2px solid transparent;
    border-radius: 30px;
}

.btn__map {
    padding: 9px 30px;
    background: #66C05D;
    border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: white;
}

.btn__more,
.btn__map,
.btn__buy {

    overflow: hidden;
    position: relative;
    transition: .2s transform ease-in-out;
    will-change: transform;
    z-index: 0;

    &::after {
        content: '';
        display: block;
        height: 100%;
        width: 100%;
        // background-color: #66C05D;
        background-color: white;
        border-radius: 30px;
        position: absolute;
        left: 0;
        top: 0;
        transform: translate(-100%, 0) rotate(10deg);
        transform-origin: top left;
        transition: .2s transform ease-out;
        will-change: transform;
        z-index: -1;
    }

    &:hover::after {
        transform: translate(0, 0);
    }

    &:hover {
        border: 2px solid transparent;
        // color: white;
        color: #000;
        transform: scale(1.05);
        will-change: transform;
    }
}

