.header {
    width: 100%;
    height: 250px;
    background-color: white;
}

.header__navbar {
    height: 50px;
    display: flex;
    justify-content: center;
    background-color: #E5E5E5;
}

.header__navbar-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 450px;
}

.header__navbar-item {
    color: #333333;
    position: relative;
    will-change: transform;

    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        border-radius: 4px;
        background-color: #333333;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    &:hover::before {
        transform-origin: left;
        transform: scaleX(1);
    }

}

.header__info {
    height: 120px;
    display: flex;
    justify-content: space-between;

    .header__info-right {
        margin-left: 10px;
    }

}

.header__info-right {
    width: 340px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__info-left {
    display: flex;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.1em;
    color: #66C05D;
}




.number {
    font-size: 16px;
    line-height: 19px;
    color: black;
}

.header__menu {
    border-top: 1px solid #EFEFEF;
    background-color: white;
    font-size: 16px;
    line-height: 19px;
}

.header__menu-items {
    width: 680px;
    height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    will-change: transform;

    a {
        overflow: hidden;
        position: relative;
        display: inline-block;
    }

    a::before,
    a::after {
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
    }

    a::before {
        background-color: #66C05D;
        height: 2px;
        bottom: 0;
        border-radius: 4px;
        transform-origin: 100% 50%;
        transform: scaleX(0);
        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    }

    a::after {
        content: attr(data-replace);
        height: 100%;
        top: 0;
        transform-origin: 100% 50%;
        transform: translate3d(200%, 0, 0);
        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
        color: #66C05D;
    }

    a:hover::before {
        transform-origin: 0% 50%;
        transform: scaleX(1);
    }

    a:hover::after {
        transform: translate3d(0, 0, 0);
    }

    a span {
        color: #000;
        display: inline-block;
        transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
    }

    a:hover span {
        transform: translate3d(-200%, 0, 0);
    }

    a {
        text-decoration: none;
        color: black;
        font-weight: 700;
        vertical-align: top;
    }
}