.information {
    margin-bottom: 103px;
}

.information__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.information__input,
.information__map {
    // width: 460px;
    width: 41%;
    height: 142px;
    padding: 35px 40px;
    background-color: #66C05D;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.information__input {
    background-image: url(./../images/envelope.svg);
    background-repeat: no-repeat;
    background-position: bottom 48% right 45px;
    flex-direction: column;
}
.information__map {
    background-image: url(./../images/truck.svg);
    background-repeat: no-repeat;
    background-position: bottom 48% right 45px;
   
}
.information__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.information__description {
    width: 231px;
    line-height: 20px;
    color: white;
}

.input__enter {
    width: 200px;
    height: 35px;
    border: none;
    padding-left: 25px;
    border-radius: 30px;
    color: #C4C4C4;
}