.intro-container {
    max-width: 1920px;
    overflow: hidden;
}


.intro {
    // width: 1920px;
    height: 604px;
    background: url(./../images/intro.png) no-repeat;
    background-position: center;
    margin: 0 auto 80px;
    background-size: cover;
    display: flex;
    justify-content: start;
    align-items: center;
}

.intro__info {
    width: 310px;
    height: 220px;
    display: flex;
    flex-direction: column;
}

.intro__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;

    color: white;
}

.intro__description {
    line-height: 20px;



    color: white;
    margin-bottom: 50px;
}