.products {
    margin-bottom: 100px;
}

.products__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}

.products__items {
    // width: 1110px;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-around;
    justify-content: space-between;
    // justify-content: center;
    gap: 29px;
    // display: grid;
    // grid-template-columns: repeat(4, 1fr);
    // grid-gap: 30px;


}

.products__item {
    // max-width: 300px;
    width: 18%;
    // width: 100%;
    min-width: 205px;
    // width: 205px;
    height: 313px;
    margin-top: 38px;

    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.products__item-description {
    width: 162px;
    min-width: 162px;
    line-height: 20px;
    text-align: center;
}

.products__item-price {
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.05em;
}