<footer class="footer">
    <div class="footer__info">
        <div class="container">
            <div class="footer__info-content">
                <div class="footer__info-social">
                    <a href="" class="social__link">
                        <img src="./assets/images/youtube.svg" alt="">
                    </a>
                    <a href="" class="social__link">
                        <img src="./assets/images/vk.svg" alt="">
                    </a>
                    <a href="" class="social__link">
                        <img src="./assets/images/facebook.svg" alt="">
                    </a>
                    <a href="" class="social__link">
                        <img src="./assets/images/instagram.svg" alt="">
                    </a>
                </div>
                <div class="footer__info-address">198555, Невский пр. 140, офис 140</div>
                <div class="header__info-right">
                    <div class="number">8 (812) 123-45-67</div>
                    <div class="header__btn">
                        <button class="btn__callback">Обратный звонок</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <div class="container">
            <div class="footer__copyright-content">
                <div class="footer__copyright-left">
                    Лучший магазин &copy; 2019 Все права защищены. Интернет-магазин оборудования для салонов красоты
                </div>
                <div class="footer__copyright-right">Политика конфиденциальности</div>
            </div>
        </div>
    </div>
</footer>