<header class="header">
  <nav class="header__navbar">
    <div class="header__navbar-items">
      <a class="header__navbar-item" href="/">Доставка</a>
      <a class="header__navbar-item" href="/">Оплата</a>
      <a class="header__navbar-item" href="/">Отзывы</a>
      <a class="header__navbar-item" href="/">Вопрос - ответ</a>
      <a class="header__navbar-item" href="/">Контакты</a>
    </div>
  </nav>

  <div class="container">
    <div class="header__info">
      <div class="header__info-left">

        <a href="/">
          <div class="header__logo">
            <img src="./../assets/images/logo.svg" alt="logo-beauty">
            BEAUTY
          </div>
        </a>
      </div>
      <div class="header__info-right">
        <div class="number">8 (812) 123-45-67</div>
        <div class="header__btn">
          <button class="btn__callback">Обратный звонок</button>
        </div>
      </div>
      <div class="burger__menu">
        <div class="burger">
          <span class="burger__line burger__line_first"></span>
          <span class="burger__line burger__line_second"></span>
          <span class="burger__line burger__line_third"></span>
          <span class="burger__line burger__line_fourth"></span>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div class="header__menu">
    <div class="header__menu-items">
      <a class="header__menu-item" href="#" data-replace="Парикмахерская">
        <span>
          Парикмахерская
        </span>
      </a>
      <a class="header__menu-item" href="#" data-replace="Барбершоп">
        <span>
          Барбершоп
        </span>
      </a>
      <a class="header__menu-item" href="#" data-replace="Маникюр">
        <span>
          Маникюр
        </span>
      </a>
      <a class="header__menu-item" href="#" data-replace="Педикюр">
        <span>
          Педикюр
        </span>
      </a>
      <a class="header__menu-item" href="#" data-replace="Массаж">
        <span>
          Массаж
        </span>
      </a>
      <a class="header__menu-item" href="#" data-replace="Мебель">
        <span>
          Мебель
        </span>
      </a>
    </div>
  </div>
</header>